* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

h1{
    color: rgb(215, 220, 224);
}
body{
    background-color: rgb(238, 250, 255);
}
h2{
    color: rgb(215, 220, 224);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
h3{
    color: rgb(180, 182, 184);   
    font-family:Arial, Helvetica, sans-serif;
    width: 90%;


}
a{
    color: rgb(215, 220, 224);
}
#imagen1{
    width: 350px;
    height: 300px;
}

#sec {
    display: flex;
}


#sec #seccion1 {
    background-color: aliceblue;
}
#parr{
    color: black;
    position: center center;
}


#seccion1{
    margin-top: 200px;
    width: 1250px;
    height: 2450px;
    border-radius: 2%;
    background-color: aliceblue;
}

#aber {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div22 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    background-image: url(/Assets/imagen2.jpeg);
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 90%;
    align-items: center;
    justify-content: space-evenly;
}

nav ul {
    display: flex;
    gap: 1rem;
}

li{
    color: rgb(255, 251, 252);
    font-size: 160%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2%;
}
button{
    background-color: #2b00ff; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 10px; 
}